web3==4.0.0b11
eth-testrpc==1.3.3
https://github.com/corpetty/py-etherscan-api/archive/a783f720a6175b227cdfe8dc3040ebad3022d79f.zip#egg=py-etherscan-api
flake8
isort
# on Ubuntu 16.04 Xenial, the error:
# x11 - ImportError: No module named window_x11
# is fixed by installing kivy master
# https://github.com/kivy/kivy/archive/27e3b90eae2a0155b22a435f1b6f65c913519db6.zip#egg=kivy
Kivy==1.10.0
https://gitlab.com/kivymd/KivyMD/repository/archive.zip?ref=19e587e6#egg=kivymd
ethereum==2.1.1
# 2017/10/30 develop
https://github.com/ethereum/pyethapp/archive/8406f32.zip#egg=pyethapp
raven==6.6.0
requests-cache
https://github.com/tito/telenium/archive/0.4.1.zip#egg=telenium
