web3==4.0.0b11
eth-testrpc==1.3.3
https://github.com/corpetty/py-etherscan-api/archive/a783f720a6175b227cdfe8dc3040ebad3022d79f.zip#egg=py-etherscan-api
flake8
isort
# on Ubuntu 16.04 Xenial, the error:
# x11 - ImportError: No module named window_x11
# is fixed by installing kivy master
# https://github.com/kivy/kivy/archive/27e3b90eae2a0155b22a435f1b6f65c913519db6.zip#egg=kivy
# on Ubuntu 18.04 Bionic, the compile error related to `MIX_INIT_MOD` is fixed by installing:
https://github.com/kivy/kivy/archive/d8ef8c2834293098bc404c0432049b2761f9b721.zip#egg=kivy
# Kivy==1.10.0
https://gitlab.com/kivymd/KivyMD/repository/archive.zip?ref=19e587e6#egg=kivymd
ethereum==2.1.1
# 2017/10/30 develop
https://github.com/ethereum/pyethapp/archive/8406f32.zip#egg=pyethapp
raven==6.6.0
requests-cache
kivyunittest==0.1.8
qrcode==5.3
eth-rlp==0.1.2
rlp==0.6.0
# compatible with libcrypto.so.1.1
# https://github.com/golemfactory/golem-messages/pull/112/files
https://github.com/mfranciszkiewicz/pyelliptic/archive/1.5.10.tar.gz#egg=pyelliptic
https://github.com/AndreMiras/garden.layoutmargin/archive/20180517.zip#egg=layoutmargin
